md-sidenav-layout.m2app-dark { 
  background: black;
}
 
.app-content {
  padding: 20px;
} 
  
.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 200px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.app-button {
    margin-left: 5px;
}

.app-todo-item {
    margin: 20px;
}

.app-tab {
    padding: 20px;
}

.app-todo-item {
    margin: 20px;
}

.component-viewer-sidenav h3 {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
}

.component-viewer-sidenav h3 {
    background: rgba(0,0,0,.32);
    color: #fff;
}

.component-viewer-sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.component-viewer-sidenav li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;
}

.component-viewer-sidenav li {
    border-color: rgba(0,0,0,.06);
    color: rgba(0,0,0,.54);
}

.component-viewer-sidenav li>a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
}

.component-viewer-sidenav li>a {
    color: rgba(0,0,0,.54);
}

.component-viewer-sidenav li>a.component-viewer-sidenav-item-selected {
    font-weight: 600;
}

.component-viewer-sidenav li>a:hover {
    background: #fafafa;
    color: #00bcd4;
}
