text-color {
    color:black;
}


.app-toolbar-filler {
  flex: 1 1 auto;
}

.slot-div {
  display: inline-block;
  width: 100px;
  background-color: #b0bec5 !important;
  height: 70px;
  border: 1px solid;
  border-radius: 25px;
  margin: 5px;
  padding: 30px
  
}

.booked-slot {
  background-color: red !important;
}
